html,
body {
  height: 100%
}

.my_nav{
height: 70px;
}

.my_nav_mobile
{
    background:rgb(248,249,250);
}

.main{
    margin-top: 80px;
    justify-content: center;
}

.main_slider
{
    display: flex;

}

.slider_img
{
    
    max-width: 28rem;
    width: 512px;
    height: 693px;
    background-size:cover;
}

.card-text ul{
    list-style-type: disc !important;
    padding-left:1em !important;
    margin-left:1em;
}

.service_item
{
    font-size: 20px;
    line-height: 1.9rem;
    margin-top: 20px;
}

.service_title
{
  font-size: 48px!important;
  font-weight: 700;
}

.footer
{
    
    margin-top:1.25rem;
    padding:25px;
    background: linear-gradient(to right, rgb(0, 160, 182) 0%, rgb(2, 50, 132) 100%) !important;
}

.footer_s02
{
  margin-top:1.25rem;
  padding:25px;
  background:linear-gradient(120deg, #f6d365 0%, #fda085 100%) !important;
}




.footer #map
{
    border-radius:15px;
}

.footer .qr_code
{
    border-radius:15px;
    width: 300px;
    height: 300px;
}

.footer ul
{
    list-style-type: none!important;
    line-height: 1.9rem;
    font-size: 18px;;
    color: rgb(248,249,250);
}

.footer .title
{
    font-size: 28px;
}



.float
{
  position:fixed;
	width:60px;
	height:60px;
	right:20px;
	background-color: #ccc;;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #cccc;

 
}

.phone
{
  bottom: 40px;
}

.line
{
  bottom: 120px;
}


.line-float
{
  width: 36px;
  height: 36px;
  margin-top: 12px;
}
.phone-float
{
  width: 36px;
  height: 36px;
  margin-top: 12px;
}



.only_mobile_show {
  display: none;
}

@media only screen and (max-width: 768px) {
  .only_mobile_show {
    display: block;
  }
}

.shadow {
    
    &.top {
      box-shadow: 0px -15px 10px -15px #111;    
    }
    &.bottom {
      box-shadow: 0px 15px 10px -15px #111;    
    }
    &.left {
      box-shadow: -15px 0px 10px -15px #111;    
    }
    &.right {
      box-shadow: 15px 0px 10px -15px #111;    
    }
  }


  
@media (max-width: 800px) { 

  .slider_img
{
  max-width:100%; /*不使用width:100% 是因避免圖片解析度不好，隨父元素被放大時會糊掉*/
  height:auto;
}

} 


